* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .table1,
 table th,
 td {
   border: 1px solid black;
   border-collapse: collapse;
   vertical-align: middle;
    width: 100%;
  
}

 

 .container {
   padding: 20px;
   display: flex;
   justify-content: flex-end;
   background-color: rgba(255, 164, 223, 0.631);

 }

 .head1 {
   background-color: #ffa4dfa1;

   text-align: center;
 }

 .button1 {
   font-size: 50px;
   border-radius: 10px;

 }

 .button1:hover {
   background-color: pink;
 }

 .table1 th:hover,
 .table1 td:hover {

   background-color: rgb(255, 146, 240);
 }

 .kessuko {
   border: 2px solid rgb(0, 0, 0);
   border-radius: 5px;
 }
.bocchi {
  width: 300px;
  height: 700px;
  
 }
   @media (max-width: 768px) {
             h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  .b1 {
    font-size: 1.5rem;
  }

  table {
    font-size: 1rem;
  }
}
        

        img {
  max-width: 100%;
  height: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}



body {
  margin: 0;
  padding: 10px;
  text-align: center;
}
